form {
    
}

input {
    height: 1rem;
    margin: 5px 0px 15px 0px;
    width: 10vw;
}

p {
    font-size: 0.9rem;
    margin: 0px;
    width: 50vw;
}

.error {
    height:auto;
    border: 1px solid red;
    margin: 5px 0px;
    padding: 5px;
    background-color: rgb(255, 102, 102);
}

.active {
    border: 1px solid red;
    background-color: rgb(184, 55, 55);
}

#error-box {
    /* color: white; */
    margin-top: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

input[data-touched = "true"]:invalid {
    border: 1px solid red;
    border-radius: 5px;
    background-color: rgb(197, 107, 107);
}

input[data-touched="true"]:valid {
  background-color: #d6ffd6; /* green */
}

